<div class="card shadow-sm h-100" >
    
    <div class="card-body ">
        <div class="prod-img" id="prod-img"><a [routerLink]="['/shop/product',product.pid]"><img [src]="image" [alt]="product.name" ></a></div>
        <hr>
        <strong>{{product.name}}</strong>
        <p class="cart-text text-muted">{{product.brand}}</p>
        <p class="cart-text text-muted">{{product.category.name}}</p>
        <strong > {{product.price | currency }}</strong>
        
        <div class="d-flex justify-content-between align-items-center">
            
            <div class="btn-group">
                <button class="btn btn-primary prod-cart-btn" id="prod-cart-btn" (click)="addToCart()"> Add </button>
                <button class="btn btn-success" id="product-buy-btn" (click)="goToCart()">Buy</button>
            </div>
            
        </div>
    </div>
</div>

 <p class="bad-msg" id="bad-msg" *ngIf="product == null">Product does not exist!</p>