<div class="manage-user-div" id="manage-user-div">
    <p class="manage-user-title" id="manage-user-title">Manage Users</p>

    <div class="manage-users-table" id="manage-users-table">
        <table>
            <tr>
               <th>Id</th>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Role</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td><button (click)="navigateEditUser(user.id)">edit</button></td>
                <td><button (click)="removeUser(user.id)">delete</button></td>
            </tr>
        
        </table>
    </div>
</div>