<div class="edit-user-div" id="edit-user-div">
    <p class="edit-user-title" id="edit-user-title">Edit User</p>

    <!-- Edit user form -->
    <form  class="edit-user-form" id="edit-user-form">
        <!-- First Name input -->
        <label for="" class="firstname-lb" id="lastname-lb">firstname</label>
        <input type="text" class="firstname-input" id="firstname-input">
        <br>

        <!-- Last name input -->
        <label for="lastname-input" class="firstname-lb" id="lastname-lb">lastname</label>
        <input type="text" class="lastname-input" id="lastname-input">
        <br>

        <label for="email-input" class="email-lb" id="email-lb">email</label>
        <input type="email" class="email-input" id="email-input"><br>

        <label for="role-input" class="role-lb" id="role-lb">role</label>
        <input type="text" class="role-input" id="role-input">
        <br>

        <button class="button submit-btn" id="submit-btn">Submit</button>
    </form>
</div>
