<div class="edit-user-div" id="edit-user-div">
    <p class="edit-user-title" id="edit-user-title">Edit User</p>

    <!-- Edit user form -->
    <form  class="edit-user-form" id="edit-user-form" (ngSubmit)="updateUser(editUser)" #editUser="ngForm">

        <!-- User id -->
        <label for="" class="id-lb" id="id-lb">User ID: {{user.id}}</label>
        <br>
        <!-- First Name input -->
        <label for="" class="firstname-lb" id="lastname-lb">firstname</label>
        <input type="text" class="firstname-input" id="firstname-input" name="firstname" [(ngModel)]="user.firstname" required>
        <br>

        <!-- Last name input -->
        <label for="lastname-input" class="firstname-lb" id="lastname-lb">lastname</label>
        <input type="text" class="lastname-input" id="lastname-input" name="lastname" [(ngModel)]="user.lastname" required>
        <br>

        <label for="email-input" class="email-lb" id="email-lb">email</label>
        <input type="email" class="email-input" id="email-input" name="email" [(ngModel)]="user.email" ngModel required><br>

        <label for="role-input" class="role-lb" id="role-lb" >role</label>
        <select name="select-role" id="select-role" class="select-role" name="role" [(ngModel)]="role" required>
            <option *ngFor="let role of roles" [value]="role.name" selected="user.role === role.name"> {{role.name}}</option>
        </select>


        <button type="submit" class="update-btn" id="update-btn">Update</button>
    </form>

</div>


