<!-- view products component -->
<div class="view-product-div" id="view-product-div">

    <!-- Search bar -->
    <div class="search-div" id="search-div">
        <input type="text" class="search-bar" id="search-bar">
        <button class="search-btn" id="search-btn">Search</button>
    </div>

    <!-- Slider -->
    <div class="slider-div" id="slider-div"></div>

    <!-- Product gallery -->
    <div class="product-view" id="product-view">
        <h1 class="product-view-title" id="product-view-title">
            Top Selling items
        </h1>

        <div class="flex-container product-grid" id="product-grid">
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
        </div>
    </div>
</div>
