<!-- view products component -->
<div class="view-product-div" id="view-product-div">

    <!-- Search bar -->
    <div class="search-div" id="search-div">
        <input type="text" class="search-bar" id="search-bar" name="search" placeholder ="Enter Product name" #search>
        <button class="search-btn" id="search-btn" (click)="oper='search';value=search.value; setTitle(search.value)">Search</button>
    </div>

    <!-- Slider -->
    <div class="slider-div" id="slider-div">
        <img src="https://via.placeholder.com/450" alt="slider">
    </div>

    <!-- split product category and product view -->
    <div class="view-splitter" id="view-splitter">
            <!-- Category List -->
            <div class="category-list" id="category-list" *ngFor="let category of categories">
                
                <ul> 
                    <li><button (click)="oper='category';value=category.name; setTitle(category.name)">{{category.name}}</button></li>
                    
                </ul>
                
            </div>
        
            <!-- Product gallery -->
            <div class="product-view" id="product-view">
                <h1 class="product-view-title" id="product-view-title">
                    {{pageTitle}}
                </h1>
        
                <div class="flex-container product-grid" id="product-grid" *ngFor="let product of products | category: oper:value">
                    
                    <div class="flex-item" id="flex-item">
                        <app-product-item [product]="product" [image]="findImage(product.pid)"></app-product-item>
                          
                    </div>

                </div>
            </div>
    </div>
</div>


