<!-- Edit product page -->
<div class="edit-prod-div" id="edit-prod-div">

    <!-- Page title -->
    <p class="edit-prod-title" id="eidt-prod-title">Edit Product</p>

    <!-- Form for product -->
    <form class="prod-form" id="prod-form" (ngSubmit)="editProduct(prodForm)" #prodForm="ngForm">
        <!-- Prod id -->
        <label for="prod-id-lb" class="id-lb" id="id-lb">ID {{product.pid}}</label>
        <br>

        <!-- Prod name -->
        <label for="prod-name" class="prod-name-lb" id="prod-name-lb">Name</label>
        <input name="name" class="prod-name-input" id="prod-name-input" [ngModel]="product.name" required>
        <br>

        <!-- Prod Category -->
        <label for="prod-category" class="prod-category-lb" id="prod-category-lb">Category</label>
        <select name="category" id="category-select" class="category-select" [(ngModel)]="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <br>


        <!--  Prod Price -->
        <label for="price-category" class="prod-price-lb" id="prod-price-lb">Price</label>
        <input name="price" class="prod-price-input" id="prod-price-input" [ngModel]="product.price" required>
        <br>

        <!-- Prod qty -->
        <label for="prod-qty" class="prod-qty-lb" id="prod-qty-lb">Qty</label>
        <input name="qty" class="prod-qty-input" id="prod-qty-input" [ngModel]="product.qty" required>
        <br>

        <!-- File upload -->
        <label for="file">Upload Image</label>
        <input type="file" class="image-upload" id="image-upload" (change)="onFileSelected($event)">

        <!-- Submit button -->
        <button class="prod-submit-btn" id="prod-submit-btn">Update</button>

    </form>

</div>

